<!DOCTYPE html>
<html>

<head>
  <title>Book Mark Manager</title>
</head>

<body>
  <h1>Links</h1>
  <ul id='links'>
    <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <%= link.url %>
    </li>
    <% end %>
  </ul>
  <form action='/links/new' method='get'>
    <label for='Add Link'>
      <input type='submit', value='Add Link'>
    </label>
  </form>
  <form action='/tags' method='get'>
    <label for='tag_name'>
      Tag:
      <input type='text' name='tag_name'>
    </label>
    <input type='submit' value='Filter by tag'>
  </form>
</body>



</html>
