
<h1>Sign Up</h1>

<form action="/sign_in" method="post">

  <label for='name'>
    Name:
    <input type="text" name="name" value=<%= @user.name if flash.now[:notice] %>>
  </label>

  <label for='email'>
    Email:
    <input type="email" name="email" value=<%= @user.email if flash.now[:notice] %> required>
  </label>

  <label for='password'>
    Password:
    <input type="password" name="password">
  </label>

  <label for='password_confirmation'>
    Password Confirmation:
    <input type="password" name="password_confirmation">
  </label>

  <button type="submit" >Sign In</button>

  <button type="submit" formaction='/users' formmethod="post" >Sign Up</button>

</form>
