
<h1>Sign Up</h1>

<form action="/sign_in" method="post">

  <label for='name'>
    Name:
    <input type="text" name="name">
  </label>

  <label for='email'>
    Email:
    <input type="email" name="email">
  </label>

  <label for='password'>
    Password:
    <input type="password" name="password">
  </label>

  <button type="submit" >Sign In</button>

  <button type="submit" formaction='/users/welcome_user' formmethod="post" >Sign Up</button>

</form>
